<% flashed_errors(:recipe) %>
<p>
  <b>Name</b><br />
  <%= text_field 'recipe', 'name', :style =>'width:300px; ' %>
</p>

<p>
  <b>Description</b><br />
  <%= text_area 'recipe', 'description', :style =>'width:663px; height: 100px;' %>
</p>

<p>
  <b>Body</b><br />
  <%= text_area 'recipe', 'body', :style =>'width:663px; height: 400px;' %>
</p>

<div id="preview_fieldset">
  <fieldset class="fieldset" style="width:560px;">
    <legend>Code-Preview</legend>
    <div id="preview">
      <%= render(:partial => 'preview', :locals => {:recipe_body => @recipe.body}) %>
    </div>
  </fieldset>
<br/>
</div>

<script type="text/javascript">
  function update_preview()
  {
    var request = $.ajax({
      url: '<%= preview_recipes_url %>',
      type: 'POST',
      data: {
        "recipe_body": $('#recipe_body').val()
      },
      cache: false,
      dataType: "html"
    });

    request.done(function(msg) {
      $("#preview").html(msg);
    });

    request.fail(function(jqXHR, textStatus) {
      alert( "Request failed: " + textStatus );
    });
  }

  observe_field('recipe_body', update_preview);
  </script>
