<% if !@current_projects.empty? %>
  <fieldset class="fieldset">
    <legend> <%=h pluralize(@current_projects.count, 'Current Project')%></legend>

    <%= render(:partial => "table.html.erb", :locals => {:projects => @current_projects } )%>

    <% if current_user.admin? %>
      <br />
      <%= link_to 'New project', new_project_path, :class => 'arrow_link' %>
    <% end %>

  </fieldset>
<% end %>

<% if !@archived_projects.empty? %>
  <br />
  <fieldset class="fieldset">
    <legend> <%=h pluralize(@archived_projects.count, 'Archived Project')%></legend>
    <%= render(:partial => "table.html.erb", :locals => {:projects => @archived_projects } )%>
  </fieldset>
<% end %>


<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Projects", projects_path %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "Projects" %>
  <h2>Projects</h2>
<% end %>
